<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="SilverstripeSaml">
    <description>PSR-12 with exceptions for Silverstripe CMS coding conventions used in this SAML module</description>

    <file>src</file>
    <file>tests</file>

    <rule ref="PSR12">
        <!-- Silverstripe convention uses CapitalCase for template targetted methods (see SAMLLoginHandler::Link) -->
        <exclude name="PSR1.Methods.CamelCapsMethodName" />
    </rule>
</ruleset>
